In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [249]:
df = pd.read_csv("C:\\Users\\Chris\\Desktop\\Python Learning\\DataSets\\ratings_Beauty.csv")
#Trimming the datset as it is long for processing
mov = df.tail(25000)
print(mov.shape)
mov.head()

(25000, 4)

                 UserId   ProductId  Rating   Timestamp
1998070  A295NV4PADYCH1  B00HZ7IRSI     5.0  1399248000
1998071  A3SIWK8BQW8TAY  B00HZ7IRSI     5.0  1396742400
1998072  A2XCQ3V5FHXBYI  B00HZ7IRSI     5.0  1398902400
1998073  A25MBJW3FF3I6S  B00HZ7IRSI     5.0  1397606400
1998074  A2M90B0HJLIBP3  B00HZ7IRSI     5.0  1392163200

In [250]:
#Movie name against which recommendation has to be projected
movie_name = 'B00IBS9QC6'

In [251]:
#Checking whether the data has any null values for data cleaning purposes
mov.isnull().sum()

UserId       0
ProductId    0
Rating       0
Timestamp    0
dtype: int64

In [252]:
#Checking for variables types and its numbers and stats to understand the data
mov.describe(include = 'all')

                UserId   ProductId        Rating     Timestamp
count            25000       25000  25000.000000  2.500000e+04
unique           19219        6060           NaN           NaN
top     A1Q1Z7IR79G52A  B00I073WLE           NaN           NaN
freq                54         880           NaN           NaN
mean               NaN         NaN      4.392800  1.401964e+09
std                NaN         NaN      1.114737  4.354216e+06
min                NaN         NaN      1.000000  1.217808e+09
25%                NaN         NaN      4.000000  1.400112e+09
50%                NaN         NaN      5.000000  1.402963e+09
75%                NaN         NaN      5.000000  1.404518e+09
max                NaN         NaN      5.000000  1.406074e+09

In [253]:
# Seperating the column and  sorting by unique combinations of movie name and getting the count
popular = mov.groupby('ProductId').count()
pop = pd.DataFrame(popular['Rating'])
print(pop.shape)
pop.head(2)

(6060, 1)

            Rating
ProductId
B00HZ7IRSI      77
B00HZ7JN9A       1

In [254]:
# Sepearting the columns and sorting by movie name and rating with mean to get the average rating for each movie
most_pop_rate = mov.groupby('ProductId')['Rating'].mean()
print(most_pop_rate.shape)
most_pop_rate.head(5)

(6060,)

ProductId
B00HZ7IRSI    4.532468
B00HZ7JN9A    1.000000
B00HZ7ZZBK    5.000000
B00HZ8DJ0I    5.000000
B00HZ8JREU    4.285714
Name: Rating, dtype: float64

In [255]:
# adding count and average rating to one dataframe 
pop['Avg of Rating'] = most_pop_rate
pop.head(5)

            Rating  Avg of Rating
ProductId
B00HZ7IRSI      77       4.532468
B00HZ7JN9A       1       1.000000
B00HZ7ZZBK       1       5.000000
B00HZ8DJ0I       1       5.000000
B00HZ8JREU       7       4.285714

In [256]:
#sort by rating with highest count of rating
pop.sort_values('Rating', ascending = False).head(10)

            Rating  Avg of Rating
ProductId
B00I073WLE     880       4.481818
B00IALDHDI     738       4.090786
B00L5JHZJO     488       4.526639
B00KWFDBKE     338       4.757396
B00IP42FBA     260       4.796154
B00IBS9QC6     239       4.874477
B00JJVG6HC     233       4.690987
B00I6CRX04     191       4.256545
B00IT69F62     177       4.751412
B00IT1HKV4     176       4.738636

In [257]:
#Creating the pivot for calculating correleation
rate = mov.pivot_table(values = 'Rating', index = 'UserId', columns = 'ProductId')
rate

ProductId,B00HZ7IRSI,B00HZ7JN9A,B00HZ7ZZBK,B00HZ8DJ0I,B00HZ8JREU,B00HZ9TZZU,B00HZ9VAGW,B00HZA1MGY,B00HZAKH1U,B00HZAL1X8,...,B00LLPT4HI,B00LMOT7X4,B00LMWUR9O,B00LMXHR1Y,B00LNOKBYW,B00LORWRJA,B00LOS7MEE,B00LP2YB8E,B00LPVG6V0,B00LU0LTOU
UserId,,,,,,,,,,,,,,,,,,,,,
A00349462AOAVUUPEJNQZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A00414041RD0BXM6WK0GX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A010356935P3D9IEDEUIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A0116143FGG14B3OZ7UG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A012050730XENR11I5PFP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AZYVVBYSD74KP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AZYWDHZ5K5CSQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AZZ0X6JYXJTYR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AZZLTQ0GHGBPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AZZVT7PFUPM8D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [258]:
# Against movie name list of users showing what rating they have provided
rate[movie_name]

UserId
A00349462AOAVUUPEJNQZ   NaN
A00414041RD0BXM6WK0GX   NaN
A010356935P3D9IEDEUIN   NaN
A0116143FGG14B3OZ7UG    NaN
A012050730XENR11I5PFP   NaN
                         ..
AZYVVBYSD74KP           NaN
AZYWDHZ5K5CSQ           NaN
AZZ0X6JYXJTYR           NaN
AZZLTQ0GHGBPN           NaN
AZZVT7PFUPM8D           NaN
Name: B00IBS9QC6, Length: 19219, dtype: float64

In [259]:
# Calculating correlation against movie names by using rating and userid
rate.corrwith(rate[movie_name]).dropna()

ProductId
B00IBS9QC6    1.000000
B00IP42FBA   -0.054603
B00JJVG6HC    0.152190
B00JL2TURM    0.218137
B00JX979CQ   -0.034483
B00K7PO996    0.566667
B00KAL5JAU    0.264775
B00KCFAZTE    0.016959
B00KCTER3U    0.167580
B00KD73PBQ    0.192971
B00KHGIK54    0.202037
B00KHH2VOY    0.554863
B00KQ4PEBU    0.670820
B00KQBR9FM    0.474755
B00KQVTX06   -0.052632
B00KXG8JF4    1.000000
dtype: float64

In [260]:
# Creating datafrome with the correlated contents and dropping null values
corr_movie = pd.DataFrame(rate.corrwith(rate[movie_name]), columns = ['Corr'])
corr_movie.dropna(inplace = True)
corr_movie.head(5)

                Corr
ProductId
B00IBS9QC6  1.000000
B00IP42FBA -0.054603
B00JJVG6HC  0.152190
B00JL2TURM  0.218137
B00JX979CQ -0.034483

In [261]:
#Joiting Correlation and count of rating to get the best recommendations.
corr_movie = corr_movie.join(pop['Rating'])

In [262]:
corr_movie

                Corr  Rating
ProductId
B00IBS9QC6  1.000000     239
B00IP42FBA -0.054603     260
B00JJVG6HC  0.152190     233
B00JL2TURM  0.218137     113
B00JX979CQ -0.034483     103
B00K7PO996  0.566667      32
B00KAL5JAU  0.264775     168
B00KCFAZTE  0.016959     143
B00KCTER3U  0.167580     112
B00KD73PBQ  0.192971     120
B00KHGIK54  0.202037     157
B00KHH2VOY  0.554863     162
B00KQ4PEBU  0.670820      49
B00KQBR9FM  0.474755     137
B00KQVTX06 -0.052632      62
B00KXG8JF4  1.000000      31

In [263]:
# Selecting the movie which has highest correleation based on highest count of rating
Recommendation = corr_movie[corr_movie['Rating']>10].sort_values('Corr', ascending = False)
print(Recommendation.shape)
Recommendation

(16, 2)

                Corr  Rating
ProductId
B00IBS9QC6  1.000000     239
B00KXG8JF4  1.000000      31
B00KQ4PEBU  0.670820      49
B00K7PO996  0.566667      32
B00KHH2VOY  0.554863     162
B00KQBR9FM  0.474755     137
B00KAL5JAU  0.264775     168
B00JL2TURM  0.218137     113
B00KHGIK54  0.202037     157
B00KD73PBQ  0.192971     120
B00KCTER3U  0.167580     112
B00JJVG6HC  0.152190     233
B00KCFAZTE  0.016959     143
B00JX979CQ -0.034483     103
B00KQVTX06 -0.052632      62
B00IP42FBA -0.054603     260

In [264]:
#Recommended Movies
l= list(Recommendation.index)
l.remove(movie_name)
for x in l[0:10]:
    print(x)

B00KXG8JF4
B00KQ4PEBU
B00K7PO996
B00KHH2VOY
B00KQBR9FM
B00KAL5JAU
B00JL2TURM
B00KHGIK54
B00KD73PBQ
B00KCTER3U

In [279]:
#Random movie selection
movie_name = list(mov['ProductId'].sample())[0]
movie_name

'B00IALDHDI'

In [280]:
popular = mov.groupby('ProductId').count()
pop = pd.DataFrame(popular['Rating'])
most_pop_rate = mov.groupby('ProductId')['Rating'].mean()
pop['Count of Rating'] = most_pop_rate
pop.sort_values('Rating', ascending = False).head(10)
rate = mov.pivot_table(values = 'Rating', index = 'UserId', columns = 'ProductId')
corr_movie = pd.DataFrame(rate.corrwith(rate[movie_name]), columns = ['Corr'])
corr_movie.dropna(inplace = True)
corr_movie = corr_movie.join(pop['Rating'])
Recommendation = corr_movie[corr_movie['Rating']>10].sort_values('Corr', ascending = False)
l= list(Recommendation.index)
l.remove(movie_name)
for x in l[0:10]:
    print(x)

B00KQVTX06
B00KAB1TBI
B00KQBR9FM
B00KAL5JAU
B00KWE08Q0
B00KCTER3U
B00JX979CQ